---
import TutorialList from '@components/tutorial/TutorialList.astro';
import { Button, Card } from '@eliancodes/brutal-ui';
import { getCollection } from 'astro:content';

interface Props {
  count?: number;
}

const { count } = Astro.props;

const posts = await getCollection('tutorial').then((posts) =>
  posts.reverse().slice(0, count ?? 3)
);
---

<section class='mt-8'>
  <Card color='orange'>
    <div class='flex justify-between items-start'>
      <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
        Tutorial Terbaru
      </h2>
      <div class='hidden md:block'>
        <Button href='/tutorial/'>Go to tutorial &rarr;</Button>
      </div>
      <div class='block md:hidden'>
        <Button href='/tutorial/'>to tutorial</Button>
      </div>
    </div>
    <TutorialList posts={posts} />
  </Card>
</section>
